# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

IHIST_DB_USER="webrain"
IHIST_DB_PASSWORD=""
IHIST_DB_SOURCE="ihist"

PORT=8020

# GIS WebMap in iFrame on index
NEXT_PUBLIC_GIS_IFRAME_URL=https://gis1.org.lrwu.com/portal/apps/dashboards/884cd76c2bcf4983a2681aa566d5938c
NEXT_PUBLIC_RJN_IFRAME_URL=https://clarity.rjn.com/lrwra-dashboard

# RainData DB connection variables
# Instance is optional
RAINDATA_DB_HOST=SQL19
RAINDATA_DB_INSTANCE=SQL19
RAINDATA_DB_DATABASE=RainData
RAINDATA_DB_USER=User
RAINDATA_DB_PASS=Pass

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
